/* General Styles */
:root {
    --primary-color: #0A3D91;
    --secondary-color: #1E73BE;
    --accent1-color: #C47A00;
    --accent2-color: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0rem 3rem;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

/* Header */
header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 25px;
}

/* Logo */
header img {
    height: 80px;
    width: auto;
}

/* Menu */
nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Navigation Links */
nav a {
    color: var(--accent2-color);
    text-decoration: none;
}

/* Navigation Links */
nav a:hover {
    text-decoration: underline;
    background-color: var(--accent1-color);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background-color: var(--accent1-color);
    padding: 15px 25px;
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent1-color);
    padding: 10px;
    width: 300px;
    text-align: left;
}

/* History Section */
.history {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.history h2 {
    margin: 0;
    color: var(--accent1-color);
}

.history p {
    text-align: center;
    color: var(--accent2-color);
    max-width: 600px;
}

/* Adventure Section */
.adventure {
    text-align: center;
    color: var(--accent1-color);
}

.adventure-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.adventure-container figure {
    text-align: center;
    max-width: 300px;
}

.adventure-container img {
    width: 100%;
    height: auto;
}

.adventure-container figcaption {
    margin-top: 5px;
    font-size: 0.9rem;
    color: var(--accent2-color);
}



/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    text-align: center;
}

footer p {
    flex: 1;
    text-align: center;
    margin: 0;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

footer .sociallinks img {
    width: 24px;
    height: 24px;
}